<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'"> -->
    <link href="../static/css/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href = "../static/imgs/logo.ico">
      <script type="text/javascript" src="../MathJax/es5/tex-mml-chtml.js"></script>

    <title>GPE Hub</title>
  </head>
  <body>
  <nav class="sidebar">
      <a href="index.html" class="nav-item">
      <img src="../static/imgs/home_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg" alt="Home" width="30" height="30" />
      <span>Home</span>
    </a>
    <a href="vocab.html" class="nav-item">
      <img src="../static/imgs/cards_star_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg" alt="Vocab" width="30" height="30" />
      <span>Vocab</span>
    </a>
    <a href="#" class="nav-item active">
      <img src="../static/imgs/school_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg" alt="AI" width="30" height="30" />
      <span>School</span>
    </a>
    <a href="settings.html" class="nav-item">
      <img src="../static/imgs/settings_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg" alt="Settings" width="30" height="30" />
      <span>Settings</span>
    </a>
  </nav>
  <div style="padding-left: 90px; text-align: center;">
    <h1>AP Physics 2 Review Sheet</h1>
        <h2>Unit 2: Electric</h2>
        <br>
        <h3>Coulomb's Law</h3>
        <div style="display: flex; justify-content: center;">
            <math display="block" class="tml-display" style="display:block math;">
              <mrow>
                <mi mathvariant="bold">F</mi>
                <mo mathvariant="bold">=</mo>
                <mi mathvariant="bold">k</mi>
                <mfrac>
                  <mrow>
                    <mi mathvariant="bold">|</mi>
                    <msub>
                      <mi mathvariant="bold">q</mi>
                      <mn mathvariant="bold">1</mn>
                    </msub>
                    <msub>
                      <mi mathvariant="bold">q</mi>
                      <mn mathvariant="bold">2</mn>
                    </msub>
                    <mi mathvariant="bold">|</mi>
                  </mrow>
                  <msup>
                    <mi mathvariant="bold">r</mi>
                    <mn mathvariant="bold">2</mn>
                  </msup>
                </mfrac>
              </mrow>
            </math>
        </div>
        <div style="display: flex; justify-content: center;">
            <math display="block" class="tml-display" style="display:block math;">
              <mrow>
                <mi>k</mi>
                <mo>=</mo>
                <mfrac>
                  <mn>1</mn>
                  <mrow>
                    <mn>4</mn>
                    <mi>π</mi>
                    <msub>
                      <mi>ϵ</mi>
                      <mn>0</mn>
                    </msub>
                  </mrow>
                </mfrac>
              </mrow>
            </math>
        </div>
        <br>
        <h3>Electric Field</h3>
        <div style="display: flex; justify-content: center;">
            <math display="block" class="tml-display" style="display:block math;">
              <mrow>
                <mi mathvariant="bold">E</mi>
                <mo mathvariant="bold">=</mo>
                <mfrac>
                  <mi mathvariant="bold">F</mi>
                  <mi mathvariant="bold">q</mi>
                </mfrac>
                <mo mathvariant="bold">=</mo>
                <mfrac>
                  <mrow>
                    <mi mathvariant="bold">k</mi>
                    <mi mathvariant="bold">q</mi>
                  </mrow>
                  <msup>
                    <mi mathvariant="bold">r</mi>
                    <mn mathvariant="bold">2</mn>
                  </msup>
                </mfrac>
              </mrow>
            </math>
        </div>
        <div style="display: flex; justify-content: center;">
            <math display="block" class="tml-display" style="display:block math;">
              <mrow>
                <mover>
                  <mi>E</mi>
                  <mo stretchy="true" style="math-style:normal;math-depth:0;">→</mo>
                </mover>
                <mo>=</mo>
                <mfrac>
                  <mrow>
                    <mo stretchy="true" lspace="0em" rspace="0em">∑</mo>
                    <mi>F</mi>
                  </mrow>
                  <mi>q</mi>
                </mfrac>
                <mo>=</mo>
                <mrow>
                  <munder>
                    <mo stretchy="true">∑</mo>
                    <mi>i</mi>
                  </munder>
                </mrow>
                <mover>
                  <msub>
                    <mi>E</mi>
                    <mi>i</mi>
                  </msub>
                  <mo stretchy="true" style="math-style:normal;math-depth:0;">→</mo>
                </mover>
              </mrow>
            </math>
        </div>
        <br>
        <div style="display: flex; justify-content: space-between;">
            <div style="flex: 1; margin-right: 10px;">
                <h3>Electric Potential Energy</h3>
                <div style="display: flex; justify-content: center;">
                    <math display="block" class="tml-display" style="display:block math;">
                      <mrow>
                        <msub>
                          <mi>W</mi>
                          <mrow>
                            <mi>a</mi>
                            <mi>b</mi>
                          </mrow>
                        </msub>
                        <mo>=</mo>
                        <mi>F</mi>
                        <mi>d</mi>
                        <mo>=</mo>
                        <mi>q</mi>
                        <mi>E</mi>
                        <mi>d</mi>
                      </mrow>
                    </math>
                </div>
                <div style="display: flex; justify-content: center;">
                    <math display="block" class="tml-display" style="display:block math;">
                      <mrow>
                        <mi>U</mi>
                        <mo>=</mo>
                        <mi>k</mi>
                        <mfrac>
                          <mrow>
                            <msub>
                              <mi>q</mi>
                              <mn>1</mn>
                            </msub>
                            <msub>
                              <mi>q</mi>
                              <mn>2</mn>
                            </msub>
                          </mrow>
                          <mi>r</mi>
                        </mfrac>
                        <mo>=</mo>
                        <mi>k</mi>
                        <mfrac>
                          <mrow>
                            <mi>q</mi>
                            <mi>Q</mi>
                          </mrow>
                          <mi>r</mi>
                        </mfrac>
                      </mrow>
                    </math>
                </div>
                <div style="display: flex; justify-content: center;">
                    <math display="block" class="tml-display" style="display:block math;">
                      <mrow>
                        <mi>U</mi>
                        <mo>=</mo>
                        <mfrac>
                          <msub>
                            <mi>q</mi>
                            <mn>0</mn>
                          </msub>
                          <mrow>
                            <mn>4</mn>
                            <mi>π</mi>
                            <msub>
                              <mi>ϵ</mi>
                              <mn>0</mn>
                            </msub>
                          </mrow>
                        </mfrac>
                        <mrow>
                          <munder>
                            <mo stretchy="true">∑</mo>
                            <mi>i</mi>
                          </munder>
                        </mrow>
                        <mfrac>
                          <msub>
                            <mi>q</mi>
                            <mi>i</mi>
                          </msub>
                          <msub>
                            <mi>r</mi>
                            <mi>i</mi>
                          </msub>
                        </mfrac>
                        <mo>=</mo>
                        <mi>k</mi>
                        <msub>
                          <mi>q</mi>
                          <mn>0</mn>
                        </msub>
                        <mrow>
                          <munder>
                            <mo stretchy="true">∑</mo>
                            <mi>i</mi>
                          </munder>
                        </mrow>
                        <mfrac>
                          <msub>
                            <mi>q</mi>
                            <mi>i</mi>
                          </msub>
                          <msub>
                            <mi>r</mi>
                            <mi>i</mi>
                          </msub>
                        </mfrac>
                      </mrow>
                    </math>
                </div>
                <div style="display: flex; justify-content: center;">
                    <math display="block" class="tml-display" style="display:block math;">
                      <mrow>
                        <mi mathvariant="bold">U</mi>
                        <mo mathvariant="bold">=</mo>
                        <mi mathvariant="bold">q</mi>
                        <mi mathvariant="bold">V</mi>
                      </mrow>
                    </math>
                </div>
            </div>
            <div style="flex: 1; margin-left: 10px;">
                <h3>Electric potential</h3>
                <div style="display: flex; justify-content: center;">
                    <math display="block" class="tml-display" style="display:block math;">
                      <mrow>
                        <mi mathvariant="bold">V</mi>
                        <mo mathvariant="bold">=</mo>
                        <mfrac>
                          <mi mathvariant="bold">U</mi>
                          <mi mathvariant="bold">q</mi>
                        </mfrac>
                        <mo mathvariant="bold">=</mo>
                        <mi mathvariant="bold">k</mi>
                        <mfrac>
                          <mi mathvariant="bold">q</mi>
                          <mi mathvariant="bold">r</mi>
                        </mfrac>
                      </mrow>
                    </math>
                </div>
                <div style="display: flex; justify-content: center;">
                    <math display="block" class="tml-display" style="display:block math;">
                      <mrow>
                        <mi>V</mi>
                        <mo>=</mo>
                        <mfrac>
                          <mn>1</mn>
                          <mrow>
                            <mn>4</mn>
                            <mi>π</mi>
                            <msub>
                              <mi>ϵ</mi>
                              <mn>0</mn>
                            </msub>
                          </mrow>
                        </mfrac>
                        <mrow>
                          <munder>
                            <mo stretchy="true">∑</mo>
                            <mi>i</mi>
                          </munder>
                        </mrow>
                        <mfrac>
                          <msub>
                            <mi>q</mi>
                            <mi>i</mi>
                          </msub>
                          <msub>
                            <mi>r</mi>
                            <mi>i</mi>
                          </msub>
                        </mfrac>
                        <mo>=</mo>
                        <mi>k</mi>
                        <mrow>
                          <munder>
                            <mo stretchy="true">∑</mo>
                            <mi>i</mi>
                          </munder>
                        </mrow>
                        <mfrac>
                          <msub>
                            <mi>q</mi>
                            <mi>i</mi>
                          </msub>
                          <msub>
                            <mi>r</mi>
                            <mi>i</mi>
                          </msub>
                        </mfrac>
                      </mrow>
                    </math>
                </div>
                <div style="display: flex; justify-content: center;">
                    <math display="block" class="tml-display" style="display:block math;">
                      <mrow>
                        <mi mathvariant="bold">E</mi>
                        <mo mathvariant="bold">=</mo>
                        <mfrac>
                          <mi mathvariant="bold">V</mi>
                          <mi mathvariant="bold">d</mi>
                        </mfrac>
                      </mrow>
                    </math>
                </div>
            </div>
        </div>
        <h3>Capacitance</h3>
        <div style="display: flex; justify-content: center;">
            <math display="block" class="tml-display" style="display:block math;">
              <mrow>
                <mi mathvariant="bold">C</mi>
                <mo mathvariant="bold">=</mo>
                <mfrac>
                  <mi mathvariant="bold">Q</mi>
                  <msub>
                    <mi mathvariant="bold">V</mi>
                    <mrow>
                      <mi mathvariant="bold">a</mi>
                      <mi mathvariant="bold">b</mi>
                    </mrow>
                  </msub>
                </mfrac>
                <mo>=</mo>
                <msub>
                  <mi>ϵ</mi>
                  <mn>0</mn>
                </msub>
                <mfrac>
                  <mi>A</mi>
                  <mi>d</mi>
                </mfrac>
              </mrow>
            </math>
        </div>
        <div style="display: flex; justify-content: center;">
            <math display="block" class="tml-display" style="display:block math;">
              <mrow>
                <mi>E</mi>
                <mo>=</mo>
                <mfrac>
                  <mi>σ</mi>
                  <msub>
                    <mi>ϵ</mi>
                    <mn>0</mn>
                  </msub>
                </mfrac>
                <mo>=</mo>
                <mfrac>
                  <mi>Q</mi>
                  <mrow>
                    <msub>
                      <mi>ϵ</mi>
                      <mn>0</mn>
                    </msub>
                    <mi>A</mi>
                  </mrow>
                </mfrac>
              </mrow>
            </math>
        </div>
        <div style="display: flex; justify-content: center;">
            <math display="block" class="tml-display" style="display:block math;">
              <mrow>
                <msub>
                  <mi>V</mi>
                  <mrow>
                    <mi>a</mi>
                    <mi>b</mi>
                  </mrow>
                </msub>
                <mo>=</mo>
                <mi>E</mi>
                <mi>d</mi>
              </mrow>
            </math>
        </div>
        <div style="display: flex; justify-content: center;">
            <math display="block" class="tml-display" style="display:block math;">
              <mrow>
                <mi>U</mi>
                <mo>=</mo>
                <mfrac>
                  <mn>1</mn>
                  <mn>2</mn>
                </mfrac>
                <mi>C</mi>
                <msup>
                  <mi>V</mi>
                  <mn>2</mn>
                </msup>
                <mo>=</mo>
                <mfrac>
                  <mn>1</mn>
                  <mn>2</mn>
                </mfrac>
                <mi>Q</mi>
                <mi>V</mi>
                  <mo>=</mo>
                <mfrac>
                  <msup>
                    <mi>Q</mi>
                    <mn>2</mn>
                  </msup>
                  <mrow>
                    <mn>2</mn>
                    <mi>C</mi>
                  </mrow>
                </mfrac>
              </mrow>
            </math>
        </div>
        <div style="display: flex; justify-content: center;">
            <math display="block" class="tml-display" style="display:block math;">
              <mrow>
                <mi>u</mi>
                <mo>=</mo>
                <mfrac>
                  <mn>1</mn>
                  <mn>2</mn>
                </mfrac>
                <msub>
                  <mi>ϵ</mi>
                  <mn>0</mn>
                </msub>
                <msup>
                  <mi>E</mi>
                  <mn>2</mn>
                </msup>
                <mo>=</mo>
                <mfrac>
                  <mrow>
                    <mfrac>
                      <mn>1</mn>
                      <mn>2</mn>
                    </mfrac>
                    <mi>C</mi>
                    <msup>
                      <mi>V</mi>
                      <mn>2</mn>
                    </msup>
                  </mrow>
                  <mrow>
                    <mi>A</mi>
                    <mi>d</mi>
                  </mrow>
                </mfrac>
              </mrow>
            </math>
        </div>
        <br>
        <div style="display: flex; justify-content: space-between;">
            <div style="flex: 1; margin-right: 10px;">
                <h3>Capacitors in Series</h3>
                <div style="display: flex; justify-content: center;">
                    <math display="block" class="tml-display" style="display:block math;">
                      <mrow>
                        <mfrac>
                          <mn>1</mn>
                          <msub>
                            <mi>C</mi>
                            <mrow>
                              <mi>e</mi>
                              <mi>q</mi>
                            </mrow>
                          </msub>
                        </mfrac>
                        <mo>=</mo>
                        <mrow>
                          <munder>
                            <mo stretchy="true">∑</mo>
                            <mi>i</mi>
                          </munder>
                        </mrow>
                        <mfrac>
                          <mn>1</mn>
                          <msub>
                            <mi>C</mi>
                            <mi>i</mi>
                          </msub>
                        </mfrac>
                      </mrow>
                    </math>
                </div>
                <div style="display: flex; justify-content: center;">
                    <math display="block" class="tml-display" style="display:block math;">
                      <mrow>
                        <mi>Q</mi>
                        <mo>=</mo>
                        <msub>
                          <mi>Q</mi>
                          <mi>i</mi>
                        </msub>
                      </mrow>
                    </math>
                </div>
                <div style="display: flex; justify-content: center;">
                    <math display="block" class="tml-display" style="display:block math;">
                      <mrow>
                        <mi>V</mi>
                        <mo>=</mo>
                        <mrow>
                          <munder>
                            <mo stretchy="true">∑</mo>
                            <mi>i</mi>
                          </munder>
                        </mrow>
                        <msub>
                          <mi>V</mi>
                          <mi>i</mi>
                        </msub>
                      </mrow>
                    </math>
                </div>
            </div>


            <div style="flex: 1; margin-left: 10px;">
                <h3>Capacitors in Parallel</h3>
                <div style="display: flex; justify-content: center;">
                    <math display="block" class="tml-display" style="display:block math;">
                      <mrow>
                        <msub>
                          <mi>C</mi>
                          <mrow>
                            <mi>e</mi>
                            <mi>q</mi>
                          </mrow>
                        </msub>
                        <mo>=</mo>
                        <mrow>
                          <munder>
                            <mo stretchy="true">∑</mo>
                            <mi>i</mi>
                          </munder>
                        </mrow>
                        <msub>
                          <mi>C</mi>
                          <mi>i</mi>
                        </msub>
                      </mrow>
                    </math>
                </div>
                <div style="display: flex; justify-content: center;">
                    <math display="block" class="tml-display" style="display:block math;">
                      <mrow>
                          <mi>Q</mi>
                        <mo>=</mo>
                        <mrow>
                          <munder>
                            <mo stretchy="true">∑</mo>
                            <mi>i</mi>
                          </munder>
                        </mrow>
                        <msub>
                          <mi>Q</mi>
                          <mi>i</mi>
                        </msub>
                      </mrow>
                    </math>
                </div>
                <div style="display: flex; justify-content: center;">
                    <math display="block" class="tml-display" style="display:block math;">
                      <mrow>
                        <mi>V</mi>
                        <mo>=</mo>
                        <msub>
                          <mi>V</mi>
                          <mi>i</mi>
                        </msub>
                      </mrow>
                    </math>
                </div>
                <br>
            </div>
        </div>
        <h3>Dielectric</h3>
        <div style="display: flex; justify-content: center;">
            <math display="block" class="tml-display" style="display:block math;">
              <mrow>
                <mi>κ</mi>
                <mo>=</mo>
                <mfrac>
                  <mi>C</mi>
                  <msub>
                    <mi>C</mi>
                    <mn>0</mn>
                  </msub>
                </mfrac>
              </mrow>
            </math>
        </div>
        <div style="display: flex; justify-content: center;">
            <math display="block" class="tml-display" style="display:block math;">
              <mrow>
                <mi>ϵ</mi>
                <mo>=</mo>
                <mi>κ</mi>
                <msub>
                  <mi>ϵ</mi>
                  <mn>0</mn>
                </msub>
              </mrow>
            </math>
        </div>
        <div style="display: flex; justify-content: center;">
            <math display="block" class="tml-display" style="display:block math;">
              <mrow>
                <mi>C</mi>
                <mo>=</mo>
                <mi>κ</mi>
                <msub>
                  <mi>C</mi>
                  <mn>0</mn>
                </msub>
                <mo>=</mo>
                <mfrac>
                  <mrow>
                    <mi>ϵ</mi>
                    <mi>A</mi>
                  </mrow>
                  <mi>d</mi>
                </mfrac>
              </mrow>
            </math>
        </div>
        <div style="display: flex; justify-content: center;">
        </div>

  </div>

    <!-- You can also require other files to run in this process -->
    <script src="../static/js/renderer.js"></script>
    <script src="../static/js/index.js"></script>
  </body>
</html>
