html, body {
    height: 100%; /* Make sure the body and html take up the full height */
    margin: 0;
    overflow: hidden; /* Prevent page from scrolling */
}

.twoCardsContainer {
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 10px;
    padding: 10px;
    height: 100vh; /* Ensure the container fills the screen */
}
.leftCard {
    display: grid;
    grid-template-rows: 9fr 11fr;
}



.card3 {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 8px;
    height: calc(100vh - 20px);
    width: calc(100% - 10px); /* Adjust for padding */
    display: flex;
    flex-direction: column;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    overflow-y: auto;
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box; /* Include padding and border in the width calculation */

}

.card3Left {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 8px;
    height: calc(calc(100vh * 0.55) - 20px); /* Remove the fixed height */
    width: calc(100% - 10px); /* Adjust for padding */
    display: flex;
    flex-direction: column;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box; /* Include padding and border in the width calculation */
    position: relative;
}
.card3Left1 {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 8px;
    height: calc(calc(100vh * 0.45) - 20px); /* Remove the fixed height */
    width: calc(100% - 10px); /* Adjust for padding */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    overflow-y: auto;
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box; /* Include padding and border in the width calculation */
    text-align: center;
}

#settings {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    height: 75px;
    width: 75px;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
    backdrop-filter: blur(8px);
}

#settings:hover {
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
@keyframes popupEntrance {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes popupExit {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
}
#popupContainer {
    transition: 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: popupEntrance 0.3s ease forwards; /* Apply animation */
    z-index: 10000;
}
#popupContainer.exit {
    animation: popupExit 0.3s ease forwards; /* Exit animation */
}
@media (max-width: 500px) {
          #popupContainer{
              width: 200px;
              height: 150px;
          }
}
#btn-container {
    display: flex;
}
#submitBtn, #closeBtn {
    width: 100px;
    background-color: rgba(255, 255, 255, 0.3);;
     border: 2px solid rgba(255,255,255,0.5);
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s ease;
    backdrop-filter: blur(8px);
    z-index: 10;
}

#closeBtn {
    background-color: rgba(255, 255, 255, 0.3);
}
#submitBtn:hover, #closeBtn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.appCard {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 0px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    height: 45px;
    transition: 0.3s ease all;
}

.appCard:hover, .appCard.active {
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.appCardButton {

    background-color: rgba(255, 255, 255, 0.15);
    height: 65px;
    width: 65px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.appCardText {
    margin-left: 20px;
    font-size: 20px;
    color: white;
    transition: 0.3s ease;
}
@media (max-width: 700px) {
          .appCardText{
              font-size: 16px;
          }
        .appCard {
            padding-left: 5px;
            padding-right: 5px;
        }
}


.expend {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    position: absolute;
    height: 35px;
    width: 35px;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
    backdrop-filter: blur(8px);
}

.expend:hover {
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#response {
    transition: 0.3s ease;
    position: fixed;
    top: 50%;
    left: calc(50% + 45px);
    transform: translate(-50%, -50%);
    width: 55%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(16px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    animation: popupEntrance 0.3s ease forwards; /* Apply animation */
    z-index: 10;
}
#response.exit {
    animation: popupExit 0.3s ease forwards; /* Exit animation */
}

.close {
    position: absolute;  /* Change from fixed to absolute */
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10px;
}

.content {
    position: fixed;
    bottom: 75px;
    top: 10px;
    overflow: hidden;
    overflow-y: auto;
    margin-right: 10px;
}
.text {
    position: absolute;
    top: 50px;
    bottom: 10px;
    overflow: hidden;
    overflow-y: auto;
    margin-right: 10px;
}