@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}


body {
    font-family: 'Roboto', sans-serif;
    color: white;
      margin: 0;
      overflow: hidden;
justify-content: center;
    align-items: center;
    }


.container{
    display: flex;

    padding-left: 10px;
    padding-top: 10px;
}
.containerAll{
    height: 70px;
    width: 430px;
    align-items: center;
}
    .ball {
      width: 50px;
      height: 50px;
      background-color: #3a3d43; /* Customize your color */
      border-radius: 50%;
      border: 2px solid #898b8e;
      cursor: pointer;
      box-shadow: 2px 4px 6px rgba(0,0,0,0.3);
      transition: 0.3s ease all;
        flex-shrink: 0;
            backdrop-filter: blur(8px);

    }

.float-container{
        padding-left: 10px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
    }
    
    .uploadImg {
        background-color: #3a3d43;
        border: 2px solid #898b8e;
        border-radius: 15px;
        height: 30px;
        width: 60px;
        box-shadow: 2px 4px 6px rgba(0,0,0,0.3);
        color: white;
        font-size: 18px;
        transition: 0.3s ease all;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        overflow: hidden;
    }

      .uploadImg:hover{
        width: 110px; /* Adjust width to accommodate text */
        justify-content: flex-start; /* Align items to the start on hover */
      }

      .uploadImg span {
        white-space: nowrap;
        font-size: 14px;
        transition: 0.3s ease all;
      }

      .uploadImg img {
        transform: translateX(0); /* Initial position of the image */
        position: absolute;
        left: 15px;
        transition: 0.3s ease all;
      }

      .uploadImg:hover img {
        left: 5px;
      }

      .uploadImg span {
        position: absolute;
        left: 30px;
        visibility: hidden;
        opacity: 0;
    }
    
    .uploadImg:hover span {
        visibility: visible;
        opacity: 1;
    }
    
      .uploadImg:hover::after {
        /*content: '';  To keep the button from collapsing if you had other content */
        opacity: 0;
    }

      .btnContainer{
        display: flex;
        align-items: center;
        position: absolute;
        top:70px;
        left:80px;
        gap: 10px;
        transition: 0.3s ease all;
        visibility: hidden;
        opacity: 0;
        width: 0px;
      }

      .btnContainer.expanded{
        visibility: visible;
        opacity: 1;
        width: 300px;
      }

    .ball1 {
      width: 0px;
      height: 25px;
      background-color: #3a3d43; /* Customize your color */
      border-radius: 50%;
      border: 2px solid #898b8e;
      box-shadow: 2px 4px 6px rgba(0,0,0,0.3);
      transition: 0.3s ease all;
        flex-shrink: 0;
        visibility: hidden;
        opacity: 0;
            backdrop-filter: blur(8px);

    }

    .ball1.drag{
              width: 25px;

        visibility: visible;
  opacity: 1;
                -webkit-app-region: drag;


    }
        .ball:hover, ball1:hover{
        background-color: #898b8e; /* Customize your color */
        border: 2px solid white;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
.float {
  background-color: #3a3d43;
  border: 2px solid #898b8e;
  border-radius: 25px;
  height: 50px;
  width: 0px;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.3);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease all;
    flex-shrink: 0;
    color: white;
    backdrop-filter: blur(8px);
    font-size: 18px;
    padding-left: 10px;
}
.float:focus{
    background-color: #898b8e; /* Customize your color */
        border: 2px solid white;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 12px;
}

.float.expanded {
  width: 250px;
  visibility: visible;
  opacity: 1;
}

.float:hover, .uploadImg:hover{
            background-color: #898b8e; /* Customize your color */
        border: 2px solid white;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.uploadImg.active{
  background-color: #898b8e; /* Customize your color */
        border: 2px solid white;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      border-radius: 8px;
}


.response {
    position: absolute;
    width: 260px; /* Adjust width as needed */
    /* Other existing styles */
    top: 110px;
    padding-left: 10px;
    padding-right: 10px;
    background: #3a3d43;
    border: 2px solid #898b8e;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease all;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
}
.response.on{
    visibility: visible;
    opacity: 1;
}

@keyframes popupEntrance {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes popupExit {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
}
.load {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background: #3a3d43;
    border: 2px solid #898b8e;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(8px);
    animation: popupEntrance 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;  /* Centers the spinner inside the container */
}

.load .spinner {
    width: 25px;
    height: 25px;
    border: 6px solid #3a3d43;
    border-top: 6px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.load.exit {
    animation: popupExit 0.3s ease; /* Exit animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    transition: 0.3s ease all;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
    transition: 0.3s ease all;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease all;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

img {
    transition: none;
  }
  
  img.spin {
    transform: rotate(360deg);
    transition: transform 0.5s ease;
  }
  
  img.spinBack {
    transform: rotate(-360deg);
    transition: transform 0.5s ease;
  }