@keyframes popupEntrance {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes popupExit {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
}
#popupContainer {
    transition: 0.3s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: popupEntrance 0.3s ease forwards; /* Apply animation */
    font-size: 25px;
    position: fixed;
}
#popupContainer.exit {
    animation: popupExit 0.3s ease forwards; /* Exit animation */
}
#btn-container {
    display: flex;
}
#submitBtn, #closeBtn {
    width: 100px;
    background-color: rgba(255, 255, 255, 0.3);;
    border: 2px solid transparent;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s ease;
}

#closeBtn {
    background-color: rgba(255, 255, 255, 0.3);
}
#submitBtn:hover, #closeBtn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
